# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  ToscaAuthURL: 'https://amspresales.my.tricentis.com/8955895b-cacf-4695-a1bb-1210863f6212'
  ToscaClientId: 'Tricentis_Cloud_API'
  ToscaClientSecret: 'xAIyVGZHX3yMw3FtMCV4oLtBmAETfdpJJOY-x4MbdTAq1aaUeZC6jZqblzgSv6VD'  # Still use pipeline variable for secrets
  ToscaTenant: 'amspresales'
  ToscaWorkspaceID: '8955895b-cacf-4695-a1bb-1210863f6212'

stages:

- stage: Test
  displayName: Test
  jobs:
    - job: Test
      pool:
        name: Default
      steps:
      - script: echo Test
        displayName: 'Prepare Testing'

      - task: PowerShell@2
        inputs:
          filePath: $(System.DefaultWorkingDirectory)\tosca_cloud_executionclient.ps1
          arguments: >
            -TokenUrl "$(ToscaAuthURL)"
            -ClientId "$(ToscaClientId)"
            -ClientSecret "$(ToscaClientSecret)"
            -Scope "tta"
            -TenantBaseUrl "https://$(ToscaTenant).my.tricentis.com"
            -SpaceId "$(ToscaWorkspaceID)"
            -PlaylistName "TC1 Web Test"
            -ResultsFileName "results.xml"
            -ResultsFolderPath "C:\Tricentis\Tosca\Results"
            -VerboseMode
        displayName: 'Execute Tosca Cloud Playlist and Upload Results'


  
      - task: PowerShell@2
        displayName: 'Convert JUnit results to UTF-8'
        condition: always()
        inputs:
          targetType: 'inline'
          script: |
            $source = "C:\Tricentis\Tosca\Results\results.xml"
            $dest = "C:\Tricentis\Tosca\Results\results_utf8.xml"
            [IO.File]::WriteAllText($dest, (Get-Content -Raw $source), [Text.Encoding]::UTF8)


      - task: PublishTestResults@2
        displayName: 'Publish Test Results'
        condition: always()
        inputs:
          testResultsFiles: 'C:\Tricentis\Tosca\Results\results_utf8.xml'
          testResultsFormat: 'JUnit'
